body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
}

img {
  position: absolute;
}

.button {
  position: absolute;
  width: 80%;
  height: 7%;
  flex-shrink: 0;
  border-radius: 45px;
  border: none;
  background-color: rgba(69, 154, 158);
  bottom: 10%;
  left: 9%;
  /*right: 5%;*/
  z-index: 4;
  font-size: 40px;
  color: white;
}

.man {
  height: 840px;
  top: 30%;
  z-index: 3;
}

.wave1 {
  height: 710px;
  right: 0;
  top: 62%;
}

.wave2 {
  height: 710px;
  right: 0;
  top: 0;
}

.wave3 {
  height: 710px;
  right: 0;
  top: 59%;
  z-index: 1;
}

.wave4 {
  height: 600px;
  right: -2%;
  top: -2%;
  z-index: 1;
}