/* Змінено стилі для login-button */
.login-button {
    width: 290px;
    height: 60px;
    top: 605px;
    left: 51px;
    background: rgba(245, 245, 245, 0.89); /* Змінено колір фону */
    position: absolute;
    border: none;
    border-radius: 30px;
    color: rgba(87, 163, 167, 1); /* Змінено колір тексту */
    font-size: 18px;
    cursor: pointer;
    z-index: 4;
    transition: background 0.3s ease; /* Додано плавний перехід для анімації */
}

/* Змінено стилі для login-button при фокусі на email-input */
.email-input:focus + .login-button {
    background: rgba(87, 163, 167, 1);
}
