body {
    margin: 0;
    padding: 0;
    background: rgba(85, 162, 166, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.title-text {
    font-size: 40px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    width: 354px;
    height: 195px;
    top: 179px;
    left: 20px;
    position: absolute;
    color: rgba(245, 245, 245, 1);
}

.container {
    background: #fff;
    width: 320px;
    height: 69px;
    position: absolute;
    top: 397px;
    left: 26px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 40px;
    overflow: hidden;
}

input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
}

.next-btn {
    width: 295px;
    height: 60px;
    background: rgba(34, 151, 161, 1);
    color: #fff;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 701px;
    left: 55px;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
}
