
name: HealthFlow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TEST1: ${{ secrets.TEST1 }}
      TEST2: ${{ secrets.TEST2 }}
      heroku_api_key: 123
    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        printenv
    #     python -m pip install --upgrade pip
    #     pip install flake8 
        
    # - name: Set up Python 3.12
    #   uses: actions/setup-python@v3
    #   with:
    #     python-version: "3.12"
    # - name: Lint with flake8
    #   run: |
    #     flake8 . --count --exit-zero --max-complexity=10 --max-line-length=170 --statistics
    # - name: Test with pytest
    #   run: |
    #     if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    #     pip install pytest
    #     python -m pytest Backend/test/
